body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e0ffcd;
}

.weather-box {
  padding: 20px;
  display: block;
  margin: 20px auto;
  padding: 20px;
  border: solid #e4e7ec;
  border-radius: 6px;
  max-width: 600px;
  background: #fff;
}

footer {
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  color: #005792;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #00204a;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature small {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-forecast {
  margin: 20px;
  text-align: center;
}

.date {
  font-size: 16px;
  color: #455d7a;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.forecast-temp-min {
  color: #455d7a;
}
